@charset "UTF-8";

/* コンテナ */
.container {
	margin: auto;
	position: absolute;
	align-items: center;
	display: flex;
 	justify-content: center;
	align-items: center;
}

/* コンテナ */
.card-container {
	width: 680px;
	height: 490px;
	text-align: center;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	margin: 100px auto 0px;
}

/* リンク行 */
.row {
	margin: 60px;
}

/* リンク */
a {
	position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
	height: 50px;
    color: #FFF;
    transition: 0.1s ease-in-out;
    font-weight: 600;
    background: dodgerblue;
	text-decoration: none;
    border-radius: 8px;
}

/* リンクホバー */
a:hover {
	background: royalblue;
}

/* ログアウトボタン */
.logoutBtn {
	margin-right: 275px;
	width: 240px;
	height: 50px;
	color: white;
	background-color: darkgray;
}

/* ログアウトボタンホバー */
.logoutBtn:hover {
	color: white;
	background-color: gray;
}