<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<title th:text="${inputForm.labelPart} + 確認"></title>
</head>
<body>
	<!-- ヘッダ -->
	<header>
		<div class="header-text" th:text="${inputForm.labelPart} + 確認"></div>
	</header>
	<!-- メイン -->
	<main>
		<!-- コンテナ -->
		<div class="container">
			<div class="card sub-container">
				<!-- タイトル -->
				<div class="row">
					<div class="col-sm-5 sub-title">
						<label for="title-label" class="form-label" th:text="${inputForm.labelPart} + 確認"></label>
					</div>
				</div>
				<form method="POST" th:action="@{/confirm}" th:object="${inputForm}">
					<!-- 表示項目 -->
					<div class="row" th:switch="*{inputType.ordinal()}">
						<!-- 身長 -->
						<div class="col input-col" th:case="0">
							<label class="input-label input-label-top" th:text="*{labelPart}"></label>
							<input type="number" id="integerPart" class="form-control text-end three-digit-part confirm-label" name="integerPart" th:field="*{integerPart}" tabindex="-1" readonly />
							<label class="input-label">．</label>
							<input type="number" id="decimalPart" class="form-control one-digit-part confirm-label" name="decimalPart" th:field="*{decimalPart}" tabindex="-1" readonly />
							<label class="input-label">cm</label>
						</div>
						<!-- 体重 -->
						<div class="col input-col" th:case="1">
							<label class="input-label input-label-top" th:text="*{labelPart}"></label>
							<input type="number" id="integerPart" class="form-control text-end three-digit-part confirm-label" name="integerPart" th:field="*{integerPart}" tabindex="-1" readonly />
							<label class="input-label">．</label>
							<input type="number" id="decimalPart" class="form-control one-digit-part confirm-label" name="decimalPart" th:field="*{decimalPart}" tabindex="-1" readonly />
							<label class="input-label">kg</label>
						</div>
						<!-- 視力 -->
						<div th:case="2">
							<div class="row">
								<div class="col input-col">
									<label class="input-label input-label-top">左目</label>
									<input type="number" id="leftIntegerPart" class="form-control text-end one-digit-part confirm-label" name="leftIntegerPart" th:field="*{leftIntegerPart}"  tabindex="-1" readonly />
									<label class="input-label">．</label>
									<input type="number" id="leftDecimalPart" class="form-control three-digit-part confirm-label" name="leftDecimalPart" th:field="*{leftDecimalPart}"  tabindex="-1" readonly />
								</div>
							</div>
							<div class="row">
								<div class="col input-col">
									<label class="input-label input-label-top">右目</label>
									<input type="number" id="rightIntegerPart" class="form-control text-end one-digit-part confirm-label" name="rightIntegerPart" th:field="*{rightIntegerPart}"  tabindex="-1" readonly />
									<label class="input-label">．</label>
									<input type="number" id="rightDecimalPart" class="form-control three-digit-part confirm-label" name="rightDecimalPart" th:field="*{rightDecimalPart}" tabindex="-1" readonly />
								</div>
							</div>
						</div>
						<!-- 聴力 -->
						<div th:case="3">
							<div class="row">
								<div class="col input-col">
									<label class="input-label input-label-top">聴力</label>
									<label class="confirm-hearing">
										<select id="selectHearing" class="form-control" name="selectHearing" th:field="*{intHearing}" style="pointer-events:none;" tabindex="-1" >
											<option value="1">正常</option>
											<option value="2">中等度難聴</option>
											<option value="3">高度難聴</option>
										</select>
									</label>
								</div>
							</div>
						</div>
					</div>
					<!-- 各ボタン -->
					<div th:if="*{inputType.ordinal() == 2 or inputType.ordinal() == 4}">
						<div class="btn-container2">
							<div>
								<input type="submit" id="returnBtn" class="btn btn-lg return-button" name="returnBtn" value="戻る">
							</div>
							<div>
								<input type="submit" id="completeBtn" class="btn btn-lg complete-button" name="completeBtn" value="確定">
							</div>
						</div>
					</div>
					<div th:unless="*{inputType.ordinal() == 2 or inputType.ordinal() == 4}">
						<div class="btn-container">
							<div>
								<input type="submit" id="returnBtn" class="btn btn-lg return-button" name="returnBtn" value="戻る">
							</div>
							<div>
								<input type="submit" id="completeBtn" class="btn btn-lg complete-button" name="completeBtn" value="確定">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>
</html>