<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<title>体重入力</title>
</head>
<body>
	<!-- ヘッダ -->
	<header>
		<div class="header-text">
			体重入力
		</div>
	</header>
	<!-- メイン -->
	<main>
		<!-- コンテナ -->
		<div class="container">
			<div class="card sub-container">
				<!-- タイトル -->
				<div class="row">
					<div class="col-sm-5 sub-title">
						<label for="title-label" class="form-label">体重入力</label>
					</div>
				</div>
				<form method="POST" th:action="@{/input}" th:object="${inputForm}">
					<!-- エラーメッセージ -->
					<div class="row">
						<label id="errorLabel" class="error-label" name="errorLabel" th:text="*{errorLabel}"></label>
					</div>
					<div class="row">
						<!-- 入力項目 -->
						<div class="col input-col">
							<label class="input-label input-label-top">体重</label>
							<input type="number" id="integerPart" class="form-control text-end three-digit-part" name="integerPart" th:field="*{integerPart}" />
							<label class="input-label">．</label>
							<input type="number" id="decimalPart" class="form-control one-digit-part" name="decimalPart" th:field="*{decimalPart}" />
							<label class="input-label">kg</label>
						</div>
					</div>
					<!-- 各ボタン -->
					<div class="btn-container">
						<div>
							<input type="submit" id="returnBtn" class="btn btn-lg return-button" name="returnBtn" value="戻る">
 						</div>
 						<div>
							<input type="submit" id="confirmBtn" class="btn btn-lg confirm-button" name="confirmBtn" value="確認"> 
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>
</html>