<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- M_User情報のマッパー -->
<mapper namespace="com.healthcheck.ambulant.repository.M_UserMapper">
<!-- 戻り値の型定義：M_Userオブジェクト -->
  <resultMap type="com.healthcheck.ambulant.entity.M_User" id="resultMap1">
    <id column="user_id" property="user_id" />
    <result column="password" property="password" />
    <result column="first_name" property="first_name" />
    <result column="last_name" property="last_name" />
    <result column="age" property="age" />
    <result column="sex" property="sex" />
    <result column="tel" property="tel" />
  </resultMap>
    <select id="selectM_user" resultMap="resultMap1">
        SELECT * FROM m_user WHERE user_id = #{user_id}
    </select>
</mapper>